

#hero {
    width: 100%;
    height: 100vh;
    /* background: url('images/Why.jpg') top right no-repeat; */
    background-image: linear-gradient(rgba(77, 74, 74, 0.5),rgba(112, 108, 108, 0.5)),url(images/hero-bg.jpg);
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
    filter: brightness(1.5),blur(1px);
    background-size: cover;
    position: relative;
    text-align:left;
    
    background-color: rgb(245, 233, 233);
  }
  #hero::before{
      background: #858481;
  }
#services{
    width:100%;
    height:auto;
    background-color: #fffdfe;
    padding:10px;
}
/* #container2:hover{
    background-color: #f79fd9;
} */
#grid{
    height:280px;
    width: 350px;
    border-radius: 10px;
    background-color: #e0d0d0;
    font-size:35px;
   text-align: center;
   padding: 30px;
   position:initial;
   box-shadow: 5px;
}
#grid:hover{
   
    background-color: #ddd7c6;
   
}
#grid-box{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content:space-around;
    padding: 10px;
    /* background-color: #52193e; */
    margin-bottom: 2px;
}
#navbar{
text-align: center;
justify-content: center;
/* background-color: brown; */
height: auto;
width: 10%;
position:fixed;
display: block;
align-items: center;
align-content: center;

}
body{
    background-color:#030d0f;
}
 /* #navbar{
height: 30%;
 /* background-color: #47b5c9;  */
/* border-top-left-radius: 5px;
border-top-right-radius: 5px;

}  */ 
#social-links{
    justify-content: space-around;
}
#social-links > a{
font-size: x-large;
}

  .nav-menu a i, .nav-menu a:focus i {
    font-size: 20px;
  }
  .nav-menu a span, .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
  } 
  

  /* section */
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
  }

  /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
    padding: 0;
    display: block;
    /* background-color: #0563bb; */
  }
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  .nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 75%;
    overflow: hidden;
    transition: 0.3s;
  }
  .nav-menu a i, .nav-menu a:focus i {
    font-size: 20px;
  }
  .nav-menu a span, .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  @media (min-width: 992px) {
    .nav-menu a, .nav-menu a:focus {
      width: 56px;
    }
    .nav-menu a span, .nav-menu a:focus span {
      display: none;
      color: #fff;
    }
  }
  .nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
    color: #fff;
    background: #7da9d3;
  }
  .nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover > a span {
    color: #fff;
  }
  .nav-menu a:hover, .nav-menu li:hover > a {
    width: 60%;
    color: #fff;
  }
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }
  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
    /* background-color: #030d0f; */
    /* align-self: center; */
  }
  
  #skills{
    height: auto;
  }